/emacs.d/auto-save-list
/emacs.d/el-get
/emacs.d/eshell
/emacs.d/.#ac-comphist.dat
/emacs.d/ac-comphist.dat
/emacs.d/.smex-items
/emacs.d/.ido.last
/emacs.d/eshell/history
/emacs.d/mysite.el
/emacs.d/.gitignore
